.App {
  padding: 20px;
  position: relative;
}

.Header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Header label {
  margin-right: 10px;
}

.Header button {
  margin-left: 10px;
}

.Result {
  margin-bottom: 10px;
}

.Wrapper {
  border: 1px solid black;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  aspect-ratio: 1;
  width: 630px;
  max-width: 100%;
}

.Field {
  position: relative;
}

.Item {
  position: absolute;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Copyright {
  width: 630px;
  max-width: 100%;
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
}
